$color-one: #E30AFF;
$color-two: #770DEA;
$color-three: #475481;

.footer {
  margin-top: 180px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;

  a {
    color: $color-one;
  }

  .redes {
    color: white;
  }

  svg {
    font-size: 40px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    justify-content: center;

    svg {
      margin-top: 30px;
    }
  }
}